%table.table.table-striped
  %thead
    %tr
      %th Location
  %tbody
    - @locations.each do |location|
      %tr
        %td= link_to location.name, user_location_path(location, user_id: location.user_id)

.pull-right
  = paginate @locations
